body {
    background-color: #000;
}

#canvas {
    position: relative;
    top: -8px;
    left: -8px;
    z-index: 1;
}

#video{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}